.cards__config {
    background-size: cover;
    background-position: center;
}
.cards__img1 {
    background-image: url("../img/food/cards__img1.jpg");
}
.cards__img2 {
    background-image: url("../img/food/cards__img2.jpg");
}
.cards__img3 {
    background-image: url("../img/food/cards__img3.jpg");
}
.cards__img4 {
    background-image: url("../img/food/cards__img4.jpg");
}
.cards__img5 {
    background-image: url("../img/food/cards__img5.jpg");
}
.cards__img6 {
    background-image: url("../img/food/cards__img6.jpg");
}
.cards__img7 {
    background-image: url("../img/food/cards__img7.jpg");
}
.cards__img8 {
    background-image: url("../img/food/cards__img8.jpg");
}
.cards__img9 {
    background-image: url("../img/food/cards__img9.jpg");
}
.cards__img10 {
    background-image: url("../img/food/cards__img10.jpg");
}
.cards__img11 {
    background-image: url("../img/food/cards__img11.jpg");
}
.cards__img12 {
    background-image: url("../img/food/cards__img12.jpg");
}
.cards__img13 {
    background-image: url("../img/food/cards__img13.jpg");
}
.cards__img14 {
    background-image: url("../img/food/cards__img14.jpg");
}
.cards__img15 {
    background-image: url("../img/food/cards__img15.jpg");
}
